 .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 922px) {
    .topnav a {
      float: none;
      width: 100%;
    }
    .certificate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        grid-gap: 10px;
    }
    
    .project {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
    .grid-item3 {
        border-style: solid;
        border-width: 1px;
        border: #d6c08d
    }
    
    #resized-image {
        width: 85%;
        height: auto;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
  } 